.libs/
.deps/

INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.log
config.status
config.guess
config.sub
configure
depcomp
install-sh
missing
stamp-h1
test-driver
libtool
ltmain.sh

*.o
*.lo
*.la

pgdb2-config.h*

